!!! 5
html(lang='en')
  head
    meta(charset='utf-8')
    title Title
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(href='css/normalize.css', rel='stylesheet', media='all')
    link(href='css/styles.css', rel='stylesheet', media='all')
  body
    header(role='banner')
      h1
        abbr(title='HyperText Markup Language 5') HTML5
        | Bones
      nav(role='navigation')
    .wrap
      section(role='main')
        header
          nav(role='navigation')
        article
        aside(role='complementary')
    footer(role='contentinfo')
    script
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-XXXX-XX']);
      _gaq.push(['_trackPageview']);
      (function() {
      var ga = document.createElement('script'); ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

